<div id="{{food._id}}" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-7xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-stone-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-stone-600">
                <h3 class="text-xl font-medium text-stone-900 dark:text-white">
                    {{food.label}}
                </h3>
                <button type="button" class="text-stone-400 bg-transparent hover:bg-stone-200 hover:text-stone-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-stone-600 dark:hover:text-white" attr.data-modal-hide="{{food._id}}">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 space-y-4">
                <section class="performance-facts" id="performance-facts">	
                    <div class="performance-facts__header">		
                        <h1 class="performance-facts__title">Nutrition Facts</h1>		
                        <div class="servings-area">			
                            <span>Serving Size</span>			
                            <span class="float-end">(100 Gram)</span>		
                        </div>	
                    </div>	
                    <table class="performance-facts__table">		
                        <thead>			
                            <tr>				
                                <th colspan="3" class="amps">Amount Per 100 Grams</th>			
                            </tr>		
                        </thead>		
                        <tbody>			
                            <tr>				
                                <th colspan="2" id="lkcal-val-cal">
                                    <b>Calories</b>
                                </th>				
                                <td class="nob">304</td>			
                            </tr>			
                            <tr class="thick-row">				
                                <td colspan="3" class="small-info">
                                    <b>% Daily Value*</b>
                                </td>			
                            </tr>			
                            <tr>				
                                <th colspan="2">
                                    <b>Total Fat</b> 0.00g
                                </th>				
                                <td><b>0%</b></td>			
                            </tr>			
                            <tr>				
                                <td class="blank-cell"></td>				
                                <th>Saturated Fat 0.00g</th>				
                                <td><b>0%</b></td>			
                            </tr>			
                            <tr>				
                                <td class="blank-cell"></td>				
                                <th>Trans Fat 0g</th>				
                                <td></td>			
                            </tr>			
                            <tr>				
                                <th colspan="2">
                                    <b>Cholesterol</b> 0.00mg
                                </th>				
                                <td><b>0%</b></td>			
                            </tr>			
                            <tr>				
                                <th colspan="2">
                                    <b>Sodium</b> 4.00mg
                                </th>				
                                <td><b>0%</b></td>			
                            </tr>			
                            <tr>				
                                <th colspan="2">
                                    <b>Total Carbohydrate</b> 82.40g
                                </th>				
                                <td><b>27%</b>
                                </td>			
                            </tr>			
                            <tr>				
                                <td class="blank-cell"></td>				
                                <th>Dietary Fiber 0.20g</th>				
                                <td><b>1%</b></td>			
                            </tr>			
                            <tr>				
                                <td class="blank-cell"></td>				
                                <th>Total Sugars 82.10g</th>				
                                <td></td>			
                            </tr>			
                            <tr>				
                                <td class="blank-cell"></td>				
                                <th>Includes 82.10g Added Sugars</th>				
                                <td></td>			
                            </tr>			
                            <tr class="thick-end">				
                                <th colspan="2">
                                    <b>Protein</b> 0.30g
                                </th>				
                                <td><b>1%</b></td>			
                            </tr>		
                        </tbody>	
                    </table>	
                    <table class="performance-facts__table--grid">		
                        <tbody>			
                            <tr>				
                                <th>Vitamin D 0.00µg</th>				
                                <td><b>0%</b></td>			
                            </tr>			
                            <tr>				
                                <th>Calcium 6.00mg</th>				
                                <td><b>1%</b></td>			
                            </tr>			
                            <tr>				
                                <th>Iron 0.42mg</th>				
                                <td><b>2%</b></td>			
                            </tr>			
                            <tr>				
                                <th>Potassium 52.00mg</th>				
                                <td><b>1%</b></td>			
                            </tr>			
                            <tr class="thin-end">				
                                <th>Vitamin C 0.50mg</th>				
                                <td><b>1%</b></td>			
                            </tr>		
                        </tbody>	
                    </table>
                </section>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-4 md:p-5 space-x-3 rtl:space-x-reverse border-t border-gray-200 rounded-b dark:border-gray-600">
                <!-- <button [attr.data-modal-hide]="food._id" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">I accept</button> -->
                <button attr.data-modal-hide="{{food._id}}" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Decline</button>
            </div>
        </div>
    </div>
</div>