<app-navbar />
<div class="mx-10 my-5 text-4xl flex justify-between">
    <h1 class="text-green-600 dark:text-green-500">The Pantry</h1>
    <div class="flex">
        @if (search !== '') {
            <button (click)="clearFilter();" type="button" class="mr-3 mt-1 text-sm bg-stone-100 dark:text-stone-100 dark:bg-stone-700 dark:hover:bg-stone-600 dark:border-stone-600 hover:bg-stone-200 border border-stone-300 rounded-lg px-2 h-11 ml-3 focus:ring-stone-100 dark:focus:ring-stone-700 focus:ring-2 focus:outline-none">
                Clear Filter
            </button>
        }
        <form class="relative" (ngSubmit)="onSubmit()">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-stone-500 dark:text-stone-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </div>
            <input [(ngModel)]="search" [ngModelOptions]="{standalone: true}" type="search" id="default-search" class="block w-[300px] mt-1 p-3 ps-10 text-sm text-stone-900 border border-stone-300 rounded-lg bg-stone-50 focus:ring-green-500 focus:border-green-500 dark:bg-stone-700 dark:border-stone-600 dark:placeholder-stone-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" placeholder="Search Ingredients" />
            <button type="submit" class="pt-2 text-white absolute end-1.5 bottom-1.5 bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Search</button>
        </form>

        @if (userInfo.role === 'admin') {
            <button [routerLink]="'/users/' + uid + '/household'" type="button" class="mt-1 text-sm bg-stone-100 dark:text-stone-100 dark:bg-stone-700 dark:hover:bg-stone-600 dark:border-stone-600 hover:bg-stone-200 border border-stone-300 rounded-lg px-2 h-11 ml-3 focus:ring-stone-100 dark:focus:ring-stone-700 focus:ring-2 focus:outline-none">
                Household
            </button>
        }
        @else if (userInfo.role === 'member') {
            <button (click)="leaveGroup()" type="button" class="text-sm bg-stone-100 dark:text-stone-100 dark:bg-stone-700 dark:hover:bg-stone-600 dark:border-stone-600 hover:bg-stone-200 border border-stone-300 rounded-lg px-2 h-11 ml-3 focus:ring-stone-100 dark:focus:ring-stone-700 focus:ring-2 focus:outline-none">
                Leave Household
            </button>
        }
        @else {
            <button type="button" (click)="startGroup()" class="mt-1 text-sm bg-stone-100 dark:text-stone-100 dark:bg-stone-700 dark:hover:bg-stone-600 dark:border-stone-600 hover:bg-stone-200 border border-stone-300 rounded-lg px-2 h-11 ml-3 focus:ring-stone-100 dark:focus:ring-stone-700 focus:ring-2 focus:outline-none">
                Start a Group
            </button>
        }
        <app-add-ingredient-modal [uid]="household._id" [hid]="household._id" />
    </div>
</div>
<div class="overflow-y-auto">
    <div class="grid grid-cols-4 gap-4 justify-items-center mx-8">
        @for (food of foods; track food) {
            <app-pantry-card [foodId]="food" [householdId]="household._id"  (loadModal)="sendToModal($event)" />
        }
        <app-add-card />
    </div>
</div>
<div class="grid justify-items-center m-4">
    <div class="flex">
        <button (click)="prevPage()" class="flex items-center justify-center px-4 h-10 text-base font-medium text-stone-500 bg-white border border-stone-300 rounded-lg hover:bg-stone-100 hover:text-stone-700 dark:bg-stone-800 dark:border-stone-700 dark:text-stone-400 dark:hover:bg-stone-700 dark:hover:text-white">
          Previous
        </button>
      
        <button (click)="nextPage()" class="flex items-center justify-center px-4 h-10 ms-3 text-base font-medium text-stone-500 bg-white border border-stone-300 rounded-lg hover:bg-stone-100 hover:text-stone-700 dark:bg-stone-800 dark:border-stone-700 dark:text-stone-400 dark:hover:bg-stone-700 dark:hover:text-white">
          Next
        </button>
    </div>
</div>

<div data-modal-target="modalId" data-modal-toggle="modalId" class="hidden"></div>
<app-info-modal [food]="foodInfo" [nutrients]="nutrients"/>