<div class="flex items-start gap-2.5">
    <div class="flex flex-row gap-1 leading-1.5 p-4 border-green-200 bg-green-50 rounded-e-xl rounded-es-xl dark:bg-green-700">
        <div class="flex flex-col">
            <div class="group relative my-2.5">
                <img src="assets/images/empty.jpg" alt="Image unavailable" class="rounded-lg max-w-[300px]" />
            </div>
        </div>
        <div class="flex flex-col">
            <a href="#">
                <h5 class="mb-2 text-xl font-bold tracking-tight text-stone-600 dark:text-stone-500">Ingredient Name</h5>
            </a>
            <button type="button" class="text-sm bg-green-400 dark:text-stone-100 dark:bg-green-700 dark:hover:bg-green-600 dark:border-stone-600 hover:bg-green-200 border border-stone-300 rounded-lg px-2 h-11 ml-3 focus:ring-stone-100 dark:focus:ring-stone-700 focus:ring-2 focus:outline-none">
                Approve
            </button>
            <button type="button" class="text-sm bg-red-400 dark:text-stone-100 dark:bg-red-700 dark:hover:bg-red-600 dark:border-stone-600 hover:bg-red-200 border border-stone-300 rounded-lg px-2 h-11 ml-3 focus:ring-stone-100 dark:focus:ring-stone-700 focus:ring-2 focus:outline-none">
                Deny
            </button>
        </div>
    </div>
 </div>
 