<div [class]="'p-5 max-w-sm rounded-lg shadow-md w-[342px] min-h-[300px] ' + (message.from === uid ? 'dark:bg-green-700 bg-green-100' : 'dark:bg-stone-700 bg-stone-200')">
    <div class="flex flex-col">
        <div class="group relative my-2.5">
            @if (message.food.image == undefined || message.food.image == '') {
                <img src="assets/images/empty.jpg" alt="Image unavailable" class="rounded-lg max-w-[300px]" />
            }
            @else {
                <img class="object-scale-down object-center rounded-lg mx-auto box-border max-w-[300px] y-[272px]" [src]="message.food.image" alt="" />
            }
        </div>
    </div>
    <div class="flex flex-col">
        <h5 class="mb-2 text-xl font-bold tracking-tight text-stone-600 dark:text-stone-100">{{message.food.label}}</h5>
        <p class="text-l mb-2 text-stone-600 dark:text-stone-100">{{message.quantity + ' units' + (message.status === 'active' ? '' : ' - ' + message.status)}}</p>
        @if (message.from !== uid && message.status === 'active') {
            <button (click)="approve()" type="button" class="text-sm bg-green-400 dark:text-stone-100 dark:bg-green-700 dark:hover:bg-green-600 dark:border-stone-600 hover:bg-green-200 border border-stone-300 rounded-lg px-2 h-11 ml-3 focus:ring-stone-100 dark:focus:ring-stone-700 focus:ring-2 focus:outline-none">
                Approve
            </button>
            <button (click)="deny()" type="button" class="text-sm bg-red-400 dark:text-stone-100 dark:bg-red-700 dark:hover:bg-red-600 dark:border-stone-600 hover:bg-red-200 border border-stone-300 rounded-lg px-2 h-11 ml-3 focus:ring-stone-100 dark:focus:ring-stone-700 focus:ring-2 focus:outline-none">
                Deny
            </button>
        }
    </div>
</div>
 