<app-menu></app-menu>
<div class="container card border bg-light m-4 mx-auto text-left">
    <div>
        <div class="row my-3">
            <div class="col-1">
                <h5>Level</h5>
            </div>
            <div class="col-6">
                <h5>Phrase</h5>
            </div>
            <div class="col-2">
                <h5>Remaining</h5>
            </div>
            <div class="col-2">
                <h5>Answer</h5>
            </div>
            <div class="col-1">
                <h5>Status</h5>
            </div>
        </div>
    </div>
    <div>
        <app-list-item *ngFor="let game of gameList" [game]="game"></app-list-item>
    </div>
</div>
