<div class="row my-3" [routerLink]="['/game', game._id]">
    <div class="col-1">
        {{ game.level }}
    </div>
    <div class="col-6 d-inline-flex">
        {{ generateBlockWord(game.view, game.font.rule, game.colors.word, game.colors.fore) }}
    </div>
    <div class="col-2">
        {{ game.remaining }}
    </div>
    <div class="col-2" [style]="game.status === 'unfinished' ? 'visibility: hidden;' : ''">
        {{ game.target }}
    </div>
    <div class="col-1">
        {{ game.status }}
    </div>
</div>