div.bar {
  border-radius: 5px;
  height: 70px;
}
select {
  width: 150px;
  height: 100px !important;
}
input[type="color"] {
  margin: 0px 0px;
  padding: 10px 10px;
  height: 50px;
  width: 60px;
  flex: 0 1 60px;
}
div.color-picker {
  width: 135px;
}
input.color-picker {
  padding: 15px;
  width: 100px;
}