div.bar {
  border-radius: 5px;
  height: 70px;
}
input[type="color"] {
  margin: 0px 0px;
  padding: 10px 10px;
  height: 54px;
  width: 60px;
  flex: 0 1 60px;
}
div.color-picker {
  width: 135px;
}
input.color-picker {
  padding: 15px;
  width: 100px;
}
p.phrase {
  margin: auto 2px;
  width: 1em;
  text-align: center;
}
input#guessInput {
  width: 75px;
}
.winImage {
  background-image: url('../images/winner.gif');
  background-size: auto;
  background-repeat: repeat-x;
  background-position: center;
}
.loseImage {
  background-image: url('../images/cry.gif');
  background-size: contain;
  background-repeat: repeat-x;
  background-position: center;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.protest-riot-regular {
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}