<div class="max-w-sm bg-white border border-stone-200 rounded-lg dark:bg-stone-800 dark:border-stone-700 shadow-md w-[342px] h-[550px]">
    <div class="h-[300px]">
        @if (food.image == undefined || food.image == '') {
            <img class="object-scale-down object-center rounded-t-lg mx-auto box-border y-[272px]" src="assets/images/empty.jpg" alt="" />
        }
        @else {
            <img class="object-scale-down object-center rounded-t-lg mx-auto box-border y-[272px]" [src]="food.image" alt="" />
        }
    </div>
    <div class="p-5 h-[75px] overflow-y-auto">
        <div data-modal-target="modalId" data-modal-toggle="modalId" (click)="loadModal.emit(food)">
            <h5 class="mb-2 text-xl font-bold tracking-tight text-green-600 dark:text-green-500 hover:text-green-500 dark:hover:text-green-400">{{food.label}}</h5>
        </div>
    </div>
    <div class="h-[100px] overflow-y-auto">
        @for (owner of owners; track owner) {
            @if (owner.userId !== householdId) {
                <app-owner-row [food]="owner" />
            }
        }
    </div>
    <div class="pl-10 pt-2">
        <div class="flex flex-row max-w-xs mx-auto mt-3">
            <div class="relative flex items-center max-w-[20rem]">
                <button type="button" [id]="food._id+1" (click)="decrement()" class="bg-stone-100 dark:bg-stone-700 dark:hover:bg-stone-600 dark:border-stone-600 hover:bg-stone-200 border border-stone-300 rounded-s-lg p-3 h-11 focus:ring-stone-100 dark:focus:ring-stone-700 focus:ring-2 focus:outline-none">
                    <svg class="w-3 h-3 text-stone-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16"/>
                    </svg>
                </button>
                <input type="text" [id]="food._id+2" [(ngModel)]="food.quantity" [ngModelOptions]="{standalone: true}" (change)="updateQuantity()" data-input-counter data-input-counter-min="0" aria-describedby="helper-text-explanation" class="bg-stone-50 border-x-0 border-stone-300 h-11 font-medium text-center text-stone-900 text-sm focus:ring-green-500 focus:border-green-500 block w-full pb-6 dark:bg-stone-700 dark:border-stone-600 dark:placeholder-stone-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" placeholder="" required/>
                <div class="absolute bottom-1 start-1/2 -translate-x-1/2 rtl:translate-x-1/2 flex items-center text-xs text-stone-400 space-x-1 rtl:space-x-reverse">
                    Shared Units
                </div>
                <button type="button" [id]="food._id+3" (click)="increment()" class="bg-stone-100 dark:bg-stone-700 dark:hover:bg-stone-600 dark:border-stone-600 hover:bg-stone-200 border border-stone-300 rounded-e-lg p-3 h-11 focus:ring-stone-100 dark:focus:ring-stone-700 focus:ring-2 focus:outline-none">
                    <svg class="w-3 h-3 text-stone-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                    </svg>
                </button>
            </div>
            <!-- <div>
                <button type="button" (click)="removeAll()" class="text-sm w-[95px] bg-stone-100 dark:text-stone-100 dark:bg-stone-700 dark:hover:bg-stone-600 dark:border-stone-600 hover:bg-stone-200 border border-stone-300 rounded-lg px-2 h-11 ml-3 focus:ring-stone-100 dark:focus:ring-stone-700 focus:ring-2 focus:outline-none">
                    Remove all
                </button>
            </div> -->
        </div>
    </div>
</div>
