<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="border bg-light p-4 d-flex align-items-center justify-content-center" style="height: 350px; width: 375px; border-radius: 5px;">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <h2>Login</h2>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1">
              <div id="emailFeedback" style="color: red;">{{emailFeedback}}</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1">
              <div id="pwdFeedback" style="color: red;">{{pwdFeedback}}</div>
            </div>
            <div id="generalFeedback" style="color: red;">{{generalFeedback}}</div>
            <button type="submit" class="btn btn-primary" style="width: 100%;">Submit</button>
        </form>
    </div>
</div>