<div class="container card bg-light m-4 mx-auto text-left">
    <div class="row" *ngIf="defaults">
        <div class="col-1 d-inline-flex my-auto mx-3">
            <label for="font" class="mx-auto col-form-label">Font</label>
            <select name="font" [class]="'form-select-sm mx-2 ' + (defaults.font.rule)" id="font" [(ngModel)]="defaults.font">
                @for (font of metadata.fonts; track font; let first = $first) {
                    <option [ngValue]="font" [id]="font.family" [attr.selected]="first ? true : null">{{font.family}}</option>
                }
            </select>
        </div>
        <div class="col-1 d-inline-flex my-auto mx-4">
            <label for="level" class="mx-auto col-form-label">Level</label>
            <select name="level" class="form-select-sm mx-2" id="level" [(ngModel)]="defaults.level">
                @for (level of metadata.levels; track level) {
                    <option [ngValue]="level">{{level.name}}</option>
                }
            </select>
        </div>
        <div class="col d-inline-flex">
            <div class="input-group p-1 d-inline-flex p-2">
                <span class="input-group-text">Word</span>
                <input type="color" class="form-control" id="word" [(ngModel)]="defaults.colors.word"/>
            </div>
            <div class="input-group p-1 d-inline-flex p-2">
                <span class="input-group-text">Guess</span>
                <input type="color" class="form-control" id="guess" [(ngModel)]="defaults.colors.guess">
            </div>
            <div class="input-group p-1 d-inline-flex p-2">
                <span class="input-group-text">Fore</span>
                <input type="color" class="form-control" id="fore" [(ngModel)]="defaults.colors.fore">
            </div>
        </div>
        <div class="col float-end">
            <button type="button" class="btn btn-primary float-end my-3 mx-1"
            (click)="logout()">
                Logout
            </button>
            <button type="button" class="btn btn-primary float-end my-3 mx-1" id="newGameBtn"
            (click)="createGame()">
                New Game
            </button>
            <button type="button" class="btn btn-primary float-end my-3 mx-1" 
            (click)="setTheme()" id="setThemeBtn">
                Set Theme
            </button>
        </div>
    </div>
</div>